*{
   margin: o;
   padding: O;
}

header{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 1rem 2rem;
   background-color: black;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 1000;
   transition: all 0.3s ease;
}
img{
   width: 120px;
}
nav{
   display: flex;
   align-items: center;
   gap: 1.5rem;
}